<div class="row">
{% include 'sidebar' %}
      <div class="span9">
<div class="page-header">
   <h1>Product Collections</h1>
</div>

<div id="collection">
    {% for collection in collections %}
    {% cycle 'product-loop-clear-start': '<div class="row-fluid"><ul class="thumbnails">', '', '' %}

    <li class="span4">
        <div class="thumbnail">
            <a href= "{{ collection.url }}" title="View {{ collection.title }}">
            
              {% if collection.image %}
            {{ collection.image.src | collection_img_url: 'large' | img_tag: collection_title }}
            {% else %}
            {{ collection.products.first.featured_image | product_img_url: 'large' | img_tag: collection_title }}
            {% endif %}
            
            </a>
            
            <div class="caption">
                <h4><a href= "{{ collection.url }}" title="View {{ collection.title }}">{{ collection.title }}</a></h4>
            </div>
        </div>
    </li>
    {% cycle 'product-loop-clear-end': '', '', '</ul></div>' %}
    {% endfor %}
</div>
</div>
</div>