<div id="collection">
	{% if template == 'index' %}
    {% for product in col_group.products %}
	{% else %}
	{% for product in collection.products %}
	{% endif %}
	
    {% cycle 'product-loop-clear-start': '<div class="row-fluid"><ul class="thumbnails">', '', '' %}

    <li class="span4">
        <div class="thumbnail">
            <a href="{% if template == 'index' %}{{ product.url | within: collections[collection] }}{% else %}{{ product.url }}{% endif %}" title="View {{ product.title }}"><img src="{{ product.images.first | product_img_url: 'large' }}" alt="{{ product.title }}" /></a>
            
            <div class="caption">
                <h4><a href="{% if template == 'index' %}{{ product.url | within: collections[collection] }}{% else %}{{ product.url }}{% endif %}" title="View {{ product.title }}">{{ product.title }}</a>{% unless product.available %} <span class="label">Out of stock</span>{% endunless %}</h4>
                {% if product.available %}
                <hr>
                <p>{{ product.price_min | money }}{% if product.price_varies %}&nbsp;to&nbsp;{{ product.price_max | money }}{% endif %}
                    {% if product.compare_at_price_max > product.price %}&nbsp;<span class="{{ settings.sale_icon }}">{{ settings.sale_text }}</span>{% endif %}
                </p>
                {% endif %}
            </div>
        </div>
    </li>
    {% if forloop.last %}
    </ul></div>
    {% else %}
    {% cycle 'product-loop-clear-end': '', '', '</ul></div>' %}
    {% endif %}
    {% endfor %}
</div>