<h1 class="page-header">{{ page_title }}</h1>

<p class="muted">{{ article.published_at | date: settings.long-date-format }}{% if settings.show-author-on-index %} by {{ article.author }}{% endif %}</p>

{% include '__formatted-content' with article.content %}

{% if article.user.bio != blank and settings.show-author-bios == true %}
<div class="well muted">
  <strong>By {{ article.author }}</strong><br>{{ article.user.bio }}
</div>
{% endif %}

{% if article.comments_enabled? %}
<hr>
<h3>Comments</h3>
{% if article.comments.size > 0 %}
{% paginate article.comments by 25 %}
{% for c in article.comments reversed %}
{% include '_comment' with c %}
{% endfor %}

{% include 'pagination' %}

{% endpaginate %}
{% else %}
<p>{% include '__localize' with 'No comments. Please feel free to be the first.' %}</p>
{% endif %}
<hr>
<h4>{% include '__localize' with 'Leave a comment' %}</h4>
<div class="form-horizontal">
  {% form article %}
  {% if form.posted_successfully? %}
  {% if blog.moderated? %}
  <div class="alert alert-success">{% include '__localize' with 'Comment posted. Awaiting moderation.' %}</div>
  {% else %}
  <div class="alert alert-success">{% include '__localize' with 'Comment posted.' %}</div>
  {% endif %}
  {% else %}
  {% if form.errors %}
  <div class="alert alert-error">{% include '__localize' with 'Sorry, you appear to have missed something. Please see below.' %}</div>
  {% endif %}
	
  <fieldset>
    <div class="control-group {% if form.errors contains 'author' %}error{% endif %}">
      <label for="comment_author" class="control-label">{% include '__localize' with 'Your name' %}</label>
      <div class="controls">
        <input type="text" value="{{form.author}}" name="comment[author]" id="comment_author" class="input-xlarge" placeholder="{% include '__localize' with 'First Last' %}">
      </div>
    </div>
    <div class="control-group {% if form.errors contains 'email' %}error{% endif %}">
      <label for="comment_email" class="control-label">{% include '__localize' with 'Email' %}</label>
      <div class="controls">
        <input type="text" value="{{form.email}}" id="comment_email" name="comment[email]" class="input-xlarge">
      </div>
    </div>
    <div class="control-group {% if form.errors contains 'body' %}error{% endif %}">
      <label for="comment_body" class="control-label">{% include '__localize' with 'Your comment' %}</label>
      <div class="controls">
        <textarea rows="3" id="comment_body" name="comment[body]" class="input-xlarge">{{form.body}}</textarea>
      </div>
    </div>

    <div class="controls">
      {% if blog.moderated? %}
      <div class="alert alert-info">{% include '__localize' with 'All comments are held for moderation. Your comment will be posted shortly.' %}</div>
      {% endif %}  
      <input type="submit" class="btn btn-primary" value="{% include '__localize' with 'Post comment' %}" />
    </div>
  </fieldset>
  
  {% endif %}
	
  {% endform %}
</div>

{% endif %}
