{% include '__has-variables' %}
<h1 class="page-header">{{ page_title }}</h1>

{% include '__offset-centered-content' with article.content %}

{% include 'article-meta' with article %}

{% if article.user.bio != blank and settings.show-author-bios == true %}
<div class="well text-muted">
  <strong>By {{ article.author }}</strong><br>{{ article.user.bio }}
</div>
{% endif %}

{% if blog.previous_article or blog.next_article %}
<!-- <hr> -->
<ul class="pager">
  {% if blog.previous_article %}<li>{{ '&laquo; Previous article' | link_to: blog.previous_article }}</li>{% endif %}
  {% if blog.next_article %}<li>{{ 'Next article &raquo;' | link_to: blog.next_article }}</li>{% endif %}
</ul>
{% endif %}

{% if article.comments_enabled? %}
{% include 'article-comments' %}
{% endif %}
