<h1 class="page-header">{{ page_title }}</h1>

<p class="text-muted">{{ article.published_at | date: settings.long-date-format }}{% if settings.show-author-on-index %} by {{ article.author }}{% endif %}</p>

{% include '__formatted-content' with article.content %}

{% if article.user.bio != blank and settings.show-author-bios == true %}
<div class="well text-muted">
  <strong>By {{ article.author }}</strong><br>{{ article.user.bio }}
</div>
{% endif %}

{% if article.comments_enabled? %}

{% include 'article-comments' %}

{% endif %}
