<h1>{{ blog.title }}</h1>

{% for l_article in blog.articles %}
<article>
  <h2>{{ l_article.title | link_to: l_article.url, l_article.title }}</h2>
  <p class="muted">{{ l_article.published_at | date: settings.short-date-format }}{% if settings.show-author-on-index %} by {{ l_article.author }}{% endif %}</p>
  {{ l_article.content | truncatewords: settings.truncate-words }}
</article>
{% endfor %}