<h1 class="page-header">{{ page_title }}</h1>
{% include '__default-pagination' %}
{% paginate blog.articles by default-pagination %}
{% for a in blog.articles %}
<article class="excerpts">
  <h2>{{ a.title | link_to: a.url, a.title }}</h2>
  <div class="{% if settings.centered-layout %} text-center{% endif %}">    
    {% if a.excerpt != blank %}
    {{ a.excerpt }}
    {% else %}
    {% if settings.truncate-words == '' %}{{ a.content }}{% else %}<p>{{ a.content | strip_html | truncatewords: settings.truncate-words }}</p>{% endif %}
    {% endif %}
    {% include 'article-author' with a %}
    <ul class="pager">
      <li><a href="{{ a.url }}" class="pager">{% include '__localize' with 'Read more' %}&nbsp;&rarr;</a></li>
    </ul>
  </div>
</article>
{% endfor %}

{% include 'pagination' %}

{% endpaginate %}

<div class="well">
  <a href="{{ blog.url | append: '.atom' }}">{% include '__localize' with 'Subscribe to RSS feed for ' %} {{ blog.title }}.</a>
</div>