<h1 class="page-header">{{ page_title }}</h1>
{% paginate blog.articles by settings.default-pagination %}
{% for a in blog.articles %}
<article>
  <h2>{{ a.title | link_to: a.url, a.title }}</h2>
  <p class="muted">{{ a.published_at | date: settings.short-date-format }}{% if settings.show-author-on-index %} by {{ a.author }}{% endif %}</p>
  {{ a.content | truncatewords: settings.truncate-words }}
</article>
{% endfor %}

{% include 'pagination' %}

{% endpaginate %}