{% include 'theme-variables' %}

<section id="blog-wrap" class="section-wrap">
	{% include '__containers-open' %}
	<h1 class="page-header">{{ page_title }}</h1>
	{% if settings.tag-placement == 'main-content' %}{% include 'tag-buttons' %}{% endif %}

	{% include '__default-pagination' %}
	{% paginate blog.articles by default-pagination %}
	
  {% comment %}	
	now: {{ 'now' | date }}<br>
	today: {{ 'now' | date: '%s' | date }}
	{% endcomment %}
	
	{% assign today = 'now' | date: '%s' %}
	<!-- Current Events -->
	{% assign first_current = true %}
	{% for article in blog.articles %}
	  {% include '__dates-from-tags' with article %}
	  
	  {% if start_date %}	  
      {% if first_current %}
        <h2>{% include '__localize' with 'Current event' %}</h2>
        {% assign first_current = false %}
      {% endif %}
      
	    {% capture current_article %}
        <article>
        	<header>
        	  <h3>{{ article.title }}</h3>
        	</header>
        </article>
	    {% endcapture %}
	  {% endif %}
	  
	  {% assign start_date_text = start_date | date: '%D' %}
	  {% assign today_text = today | date: '%D' %}
	  {% if start_date_text == today_text %}
	    {{ current_article }}
	  {% elsif start_date <= today and end_date >= today %}
      {{ current_article }}
    {% endif %}
	{% endfor %}
	
	<!-- Upcoming Events -->
  {% assign first_upcoming = true %}
	{% for article in blog.articles %}
    {% include '__dates-from-tags' with article %}
	  
	  {% if start_date %}	  
      {% if first_upcoming %}
        <h3>{% include '__localize' with 'Next event' %}</h3>
        {% assign first_upcoming = false %}
      {% endif %}
      
	    {% capture current_article %}
        <article>
        	<header>
        	  <h3>{{ article.title }}</h3>
        	</header>
        </article>
	    {% endcapture %}
	  {% endif %}
	  
    {% if start_date > today %}
      {{ current_article }}
    {% endif %}
	{% endfor %}
	
	<!-- Previous Events -->
  {% assign first_previous = true %}
	{% for article in blog.articles %}
    {% include '__dates-from-tags' with article %}
    
    {% if start_date %}
      {% if first_previous %}
        <h3>{% include '__localize' with 'Previous events' %}</h3>
        {% assign first_previous = false %}
      {% endif %}
      
	    {% capture current_article %}
        <article>
        	<header>
        	  <h3>{{ article.title }}</h3>
        	</header>
        </article>
	    {% endcapture %}
	  {% endif %}
    
    {% if start_date < today and end_date == false %}
      {{ current_article }}
    {% elsif end_date < today %}
      {{ current_article }}
    {% endif %}
	{% endfor %}
	
		{% include 'pagination' %}
	{% endpaginate %}

	<p class="text-right rss-subscribe">
		<i class="fa fa-rss-square text-muted"></i> <a class="text-muted" href="{{ blog.url | append: '.atom' }}">{% include '__localize' with 'Subscribe to RSS feed for ' %} {{ blog.title }}</a>
	</p>
	{% include '__containers-close' %}
</section>