{% include '__has-variables' %}

{% unless settings.homepage-content == blank %}{% assign homepage = pages[settings.homepage-content] %}
<section id="homepage-intro" class="section-wrap">
	<h1 class="page-header">{{ homepage.title }}</h1>
	{% unless homepage.content == blank %}
	{% include '__formatted-content' with homepage.content %}
	{% endunless %}
</section>
{% endunless %}

{% include 'features-linklist-overview' with 'linklist' %}

{% unless settings.homepage-collections-linklist == blank %}
<section id="featured-collections-title" class="section-wrap">
	<h2 class="page-header">{{ linklists[settings.homepage-collections-linklist].title }}</h2>
	{% include 'collections-list' with 'featured' %}
</section>
{% endunless %}

{% if settings.homepage-products-collection %}
{% assign homepage_collection = collections[settings.homepage-products-collection] %}
<section id="featured-products-title" class="section-wrap">
	<h2 class="page-header"><a href="{{ homepage_collection.url }}">{{ homepage_collection.title }}</a>{% if homepage_collection.all_products_count > homepage_products_limit %}&emsp;<a class="small" href="{{ homepage_collection.url }}">{% include '__localize' with 'View all' %}</a>{% endif %}</h2>
</section>
  {% include 'products-list' %}
{% endif %}

{% include 'homepage-blog-overview' with 'blog' %}

{% include 'index-testimonials' %}

{% assign album_set = false %}
{% for fb in blogs[settings.facebook-album-blog].articles %}
  {% if fb.metafields.social-feed.facebook-album != blank and album_set != true %}
    {% include 'social-feed-facebook' with fb %}
    {% assign album_set = true %}
  {% endif %}
{% endfor %}

{% include 'social-feed-instagram' with homepage %}