<div id="collections-listing">
  {% paginate collections by 10 %}

    {% if collections.size > 0 %}

    <h2>Product Collections</h2>

    <ul>
      {% for collection in collections %}
        <li class="{{ collection.handle }}-collection">
        <strong><a href="{{ collection.url }}">{{ collection.title | escape }}</a></strong>
        <small class="hint">{{ collection.products_count | pluralize: 'product', 'products' }}</small>
        </li>
      {% endfor %}
    </ul>

    <div id="pagination">{{ paginate | default_pagination }}</div>

    {% else %}
      <p>No Collections found...</p>
    {% endif %}
  {% endpaginate %}
</div>
