{% capture vars %}
{% if product.featured_image == blank %}
{% assign image = '<div class="image_placeholder">Product Image</div>' %}
{% else %}
{% assign image = product.featured_image.src | product_img_url: 'grande' | img_tag %}
{% endif %}
{% endcapture %}
<div class="row">
  <div class="span{% if settings.show-sidebar %}5{% else %}6{% endif %}">    
    {% include '_product-add-to-cart-form' %}
    
    {{ product.description }}
    
    {% if collection %}
    <hr>
    <ul class="nav nav-pills">      
      <li{% unless collection.previous_product %} class="disabled"{% endunless %}>{{ '&laquo; Previous product' | link_to: collection.previous_product }}</li>
      <li>{{ collection.title | link_to: collection.url }}</li>
      <li{% unless collection.next_product %} class="disabled"{% endunless %}>{{ 'Next product &raquo;' | link_to: collection.next_product }}</li>
    </ul>
    {% endif %}
  </div>
  <ul class="span{% if settings.show-sidebar %}4{% else %}6{% endif %}">
    <ul class="thumbnails">
      <li class="span{% if settings.show-sidebar %}4{% else %}6{% endif %}">
        <div class="thumbnail">
          {{ image }}
        </div>
      </li>
      {% if product.images.size > 1 %}
      {% for image in product.images %}
      <li class="span2">
        <a href="#" class="thumbnail">
          {{ image.src | product_img_url: 'medium' | img_tag }}
        </a>
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</div>