{% capture vars %}
{% if product.featured_image == blank %}
{% assign image = '<div class="image_placeholder">Product Image</div>' %}
{% else %}
{% assign image = product.featured_image.src | product_img_url: 'grande' | img_tag %}
{% endif %}
{% endcapture %}
<form action="/cart/add" method="post">
  <div class="row">
    <div class="span{% if settings.show-sidebar %}5{% else %}6{% endif %}">
      <h1 class="page-header">{{ page_title }}</h1>
      
      <div class="lead">
        <span id="price-field"></span>
        <span id="sale-field" class="label label-success">{% include '__localize' with 'On sale' %}</span>
        <del id="compare-at-price-field" class="muted"></del>
      </div>
      
      {% include 'product-add-to-cart-form' %}
      
      {% include '__formatted-content' with product.description %}
      
      {% if settings.placement-of-add-to-cart-button == "below-description-above-meta-data" %}{% include 'product-add-to-cart-button' %}{% endif %}
    
      <table class="table {% include '__table-formatting' %}">
        <tr>
          <th>Vendor</th>
          <td>{{ product.vendor | link_to_vendor }}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td>{{ product.type | link_to_type }}</td>
        </tr>
        <tr>
          <th>Collections</th>
          <td>{% for c in product.collections %}{% if forloop.index > 1 %}, {% endif %}{{ c.title | link_to: c.url }}{% endfor %}</td>
        </tr>
        <tr>
          <th>Tags</th>
          <td>{% for tag in product.tags %}{% assign tag_url = tag | handleize | prepend: '/collections/all/' %}{% if forloop.index > 1 %}, {% endif %}{{ tag | link_to: tag_url }}{% endfor %}</td>
        </tr>
      </table>
      
      {% if settings.placement-of-add-to-cart-button == "at-bottom-of-page" %}{% include 'product-add-to-cart-button' %}{% endif %}
    
      {% if collection %}
      <hr>
      <div class="pagination pagination-mini pagination-centered">
        <ul>
          <li{% unless collection.previous_product %} class="disabled"{% endunless %}>{{ '&laquo; Previous product' | link_to: collection.previous_product }}</li>
          <li>{{ collection.title | link_to: collection.url }}</li>
          <li{% unless collection.next_product %} class="disabled"{% endunless %}>{{ 'Next product &raquo;' | link_to: collection.next_product }}</li>
        </ul>
      </div>
      {% endif %}
    </div>
    <div class="span{% if settings.show-sidebar %}4{% else %}6{% endif %}">
      <ul class="thumbnails">
        <li class="span{% if settings.show-sidebar %}4{% else %}6{% endif %}">
          <div class="thumbnail">
            {{ image }}
          </div>
        </li>
        {% if product.images.size > 1 %}
        {% for image in product.images | offset: 1 %}
        <li class="span2">
          <a href="#" class="thumbnail">
            {{ image.src | product_img_url: 'medium' | img_tag }}
          </a>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </div>
  </div>
</form>
