{% capture vars %}
{% if product.featured_image == blank %}
{% assign image = '<div class="image_placeholder">Product Image</div>' %}
{% else %}
{% capture image %}<img id="main" src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt }}">{% endcapture %}
{% endif %}
{% endcapture %}
<form action="/cart/add" method="post">
	<div class="row">
		<div class="col-sm-6">
			<h1 class="page-header">{{ page_title }}</h1>
      
			<div class="lead">
				<span id="price-field">{% include 'product-price' with product.price %}</span>
				<span id="sale-field" class="label label-success" style="display: none;">{% include '__localize' with 'On sale' %}</span>
				<del id="compare-at-price-field" class="text-muted"></del>
			</div>
      <hr>
			{% include 'product-add-to-cart-form' %}
      <hr>
			{% include '__formatted-content' with product.description %}
      
			{% if settings.placement-of-add-to-cart-button == "below-description-above-meta-data" %}{% include 'product-add-to-cart-button' %}{% endif %}
    
			<table class="table {% include '__table-formatting' %}">
				<tr>
					<th>Vendor</th>
					<td>{{ product.vendor | link_to_vendor }}</td>
				</tr>
				<tr>
					<th>Type</th>
					<td>{{ product.type | link_to_type }}</td>
				</tr>
				<tr>
					<th>Collections</th>
					<td>{% for c in product.collections %}{% if forloop.index > 1 %}, {% endif %}{{ c.title | link_to: c.url }}{% endfor %}</td>
				</tr>
				<tr>
					<th>Tags</th>
					<td>{% for tag in product.tags %}{% assign tag_url = tag | handleize | prepend: '/collections/all/' %}{% if forloop.index > 1 %}, {% endif %}{{ tag | link_to: tag_url }}{% endfor %}</td>
				</tr>
			</table>
      
			{% if settings.placement-of-add-to-cart-button == "at-bottom-of-page" %}{% include 'product-add-to-cart-button' %}{% endif %}
    
			{% if collection %}
			<hr>
			<ul class="pagination pagination-sm">
				<li{% unless collection.previous_product %} class="disabled"{% endunless %}>{{ '&laquo; Previous product' | link_to: collection.previous_product }}</li>
				<li>{{ collection.title | link_to: collection.url }}</li>
				<li{% unless collection.next_product %} class="disabled"{% endunless %}>{{ 'Next product &raquo;' | link_to: collection.next_product }}</li>
			</ul>
			{% endif %}
		</div>
		<div class="col-sm-6">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="thumbnail">
						{{ image }}
            <div class="loader"></div>
					</div>
				</div>
				{% if product.images.size > 1 %}
				{% for image in product.images %}
				<div class="col-xs-6 col-sm-4">
					<a href="#" class="thumbnail" data-main-image="{{ image.src | product_img_url: 'grande' }}">
						{{ image.src | product_img_url: 'medium' | img_tag }}
					</a>
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</div>
	</div>
</form>