{% include '__has-variables' %}
{% capture vars %}
{% if product.featured_image == blank %}
{% include '__image-placeholder' %}
{% else %}
	{% capture image %}
		<img id="main" {% if settings.round-product-images %}class="img-circle" {% endif %}src="{{ product.featured_image.src | product_img_url: 'grande' }}" alt="{{ product.featured_image.alt }}" itemprop="image">
	{% endcapture %}
{% endif %}
{% endcapture %}
<div class="visible-xs">
  <h1 class="page-header" itemprop="name">{{ page_title }}</h1>
</div>

<form id="product-form" action="/cart/add" method="post">
  <div class="row" itemscope itemtype="http://data-vocabulary.org/Product">
	
    <!-- images col -->
    <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="thumbnail">
            {{ image }}
<!--             <div class="loader"></div> -->
          </div>
        </div>
        {% if product.images.size > 1 %}
        {% for image in product.images %}
        <div class="col-xs-6 col-sm-4">
          <a href="#" class="thumbnail" data-main-image="{{ image.src | product_img_url: 'grande' }}">
			  {% if settings.round-product-images %}
			  	{{ image.src | product_img_url: 'medium' | img_tag: image.alt, 'img-circle' }}
			  {% else %}
			  	{{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
			  {% endif %}
          </a>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
	
    <!-- details col -->
    <div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-pull-6{% endif %}">
      <h1 class="hidden-xs" itemprop="name">{{ page_title }}</h1>
      <hr>
      {% if has_prices %}
      <div class="lead product-price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
        <span id="price-field">{% include 'product-price' with product.price %}</span>
        <del id="compare-at-price-field" class="text-muted"></del>
        <span id="sale-field" class="label label-success" style="display: none;">{% include '__localize' with 'On sale' %}</span>
        <meta itemprop="currency" content="{{ shop.currency }}" />
        <meta itemprop="identifier" content="sku:{{ product.variants.first.sku }}" />
      </div>
      <hr>
      {% endif %}
      {% if has_cart %}{% include 'product-add-to-cart-form' %}{% endif %}

      <p itemprop="description">{% include '__formatted-content' with product.description %}</p>
    
      <table class="table {% include '__table-formatting' %}">
        <tr>
          <th>{% include '__localize' with 'Vendor' %}</th>
          <td>{{ product.vendor | link_to_vendor }}</td>
        </tr>
        <tr>
          <th>{% include '__localize' with 'Type' %}</th>
          <td>{{ product.type | link_to_type }}</td>
        </tr>
        <tr>
          <th>{% include '__localize' with 'Collections' %}</th>
          <td>{% for c in product.collections %}{% if forloop.index > 1 %}, {% endif %}{{ c.title | link_to: c.url }}{% endfor %}</td>
        </tr>
        <tr>
          <th>{% include '__localize' with 'Tags' %}</th>
          <td>{% for tag in product.tags %}{% assign tag_url = tag | handleize | prepend: '/collections/all/' %}{% if forloop.index > 1 %}, {% endif %}{{ tag | link_to: tag_url }}{% endfor %}</td>
        </tr>
      </table>
    </div>
  </div>
</form>

{% include 'product-footer' %}