{% layout settings.customer_layout %}
<div class="row">
    {% include 'sidebar' %}
<div class="span9 columns">

<div id="admin_header">
<a href="{{ shop.url }}" class="btn btn-info pull-right" id='return_to_store'>Return to Store</a>

  <h2 class="title">Account Details and Order History</h2>
     <hr>
</div>

<div id="customer_sidebar">
  <div id="customer_detail" class="group">
    <address>
    <strong>{{ customer.name }}</strong><br>
    <a href="mailto:{{ customer.email }}">{{ customer.email }}</a>
    </address>
    <address>
      {% if customer.default_address != nil %}
        {{ customer.default_address.address1 }}<br>
        {% if customer.default_address.address2 != "" %}
         {{ customer.default_address.address2 }}<br>
        {% endif %}
        {{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}<br>
        {{ customer.default_address.zip}}<br>
        <abbr title="Phone">P:</abbr> {{ customer.default_address.phone }}
      {% endif %}
      </address>
      <p><a id="view_address" href="/account/addresses">View Addresses ({{ customer.addresses_count }})</a></p>
    

  </div>
</div>

<div id="customer_orders">
  {% if customer.orders.size != 0 %}
  <table>
    <thead>
      <tr>
        <th class="order_number">Order</th>
        <th class="date">Date</th>
        <th class="payment_status">Payment Status</th>
        <th class="fulfillment_status">Fulfillment Status</th>
        <th class="total">Total</th>
      </tr>
    </thead>
    <tbody>
      {% for order in customer.orders %}
      <tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
        <td>{{ order.name | link_to: order.customer_url }}</td>
        <td><span class="note">{{ order.created_at | date: "%b %d, %Y" }}</span></td>
        <td><span class="status_{{ order.financial_status }}">{{ order.financial_status }}</span></td>
        <td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status }}</span></td>
        <td><span class="total money">{{ order.total_price | money }}</span></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>You haven't placed any orders yet.</p>
  {% endif %}
</div>
</div>
</div>