<!DOCTYPE html>
<html>
<head>
  {% capture homepage_title %}{% include '__localize' with 'homepage-title' %}{% endcapture %}{% if template == 'index' %}{% assign page_title = homepage_title %}{% endif %}
  <title>{{ page_title }}{% if collection.title != blank and collection.title != page_title and template != 'index' and settings.show-collection-title-in-meta-title %} | {{ collection.title }}{% elsif blog.title != blank and blog.title != page_title %} | {{ blog.title }}{% endif %} | {{ shop.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% include 'meta' %}
  
  {{ '_base.css' | asset_url | stylesheet_tag }}
  {{ '_settings.css' | asset_url | stylesheet_tag }}
  
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  {{ '_base.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  
  {{ 'bootstrap-button.js' | asset_url | script_tag }}
  {{ 'bootstrap-carousel.js' | asset_url | script_tag }}
  {{ 'bootstrap-collapse.js' | asset_url | script_tag }}
  {{ 'bootstrap-dropdown.js' | asset_url | script_tag }}
  {{ 'bootstrap-modal.js' | asset_url | script_tag }}
  {{ 'bootstrap-tooltip.js' | asset_url | script_tag }}
  {{ 'bootstrap-popover.js' | asset_url | script_tag }}
  {{ 'bootstrap-typeahead.js' | asset_url | script_tag }}
  
  {{ content_for_header }}
</head>

<body class="{% if settings.show-multiple-currencies %} currencies{% endif %}">
  {% include 'navbar' %}
  
  {% if settings.slider-placement == "full-width" and template == "index" %}{% include 'slider' %}{% endif %}
  
  <div class="container">
    {% if settings.slider-placement == "within-container" and template == "index" %}{% include 'slider' %}{% endif %}
    
    {% if settings.logo-placement != "sidebar" and settings.logo-placement != "navbar" %}
    <header class="page-header">
      <h1 class="text-{{ settings.logo-alignment }}"><a href="/">{{ shop.name | replace: ' ', '&nbsp;' }}</a></h1>
    </header>
    {% endif %}
    
    <div class="row">
      {% if settings.show-sidebar %}{% include 'sidebar' %}{% endif %}
      <div class="{% include '__main-span' %}">
        {% if settings.slider-placement == "next-to-sidebar" and settings.show-sidebar and template == "index" %}{% include 'slider' %}{% endif %}
        
        {% if settings.show-breadcrumbs %}
        {% include 'breadcrumbs' %}
        {% endif %}

        {{ content_for_layout }}
      </div>
    </div>
  </div>
  
  {% include 'footer' %}
  {% include 'currencies' %}
</body>
</html>