<!DOCTYPE html>
<html>
<head>
  <title>{% include 'smart-title' %} | {{ shop.name }}</title>
  {% include 'meta' %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  
  {{ '_base.css' | asset_url | stylesheet_tag }}
  {{ '_settings.scss.css' | asset_url | stylesheet_tag }}
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  
  {% include 'fonts' %}
  
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  
  {{ '_base.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  
  {{ 'bootstrap-button.js' | asset_url | script_tag }}
  {{ 'bootstrap-carousel.js' | asset_url | script_tag }}
  {{ 'bootstrap-collapse.js' | asset_url | script_tag }}
  {{ 'bootstrap-dropdown.js' | asset_url | script_tag }}
  {{ 'bootstrap-modal.js' | asset_url | script_tag }}
  {{ 'bootstrap-tooltip.js' | asset_url | script_tag }}
  {{ 'bootstrap-popover.js' | asset_url | script_tag }}
  {{ 'bootstrap-typeahead.js' | asset_url | script_tag }}
  
  {{ content_for_header }}
</head>

<body class="{% if settings.show-multiple-currencies %} currencies{% endif %}">
  {% include 'navbar' %}
  
  {% if settings.slider-placement == "full-width" and template == "index" %}{% include 'slider' %}{% endif %}
  
  <div class="container">    
    {% if settings.slider-placement == "within-container" and template == "index" %}{% include 'slider' %}{% endif %}
    
    {% if settings.logo-placement != "sidebar" and settings.logo-placement != "navbar" %}
    <header class="page-header">
      <h1 class="text-{{ settings.logo-alignment }}"><a href="/">{% include 'logo' %}</a></h1>
    </header>
    {% endif %}
    
    {% if settings.show-breadcrumbs and template != 'index' %}
    {% include 'breadcrumbs' %}
    {% endif %}
    
    <div class="row">
      {% if settings.show-sidebar %}{% include 'sidebar' %}{% endif %}
      <div class="{% include '__main-span' %}">
            
        {% if settings.slider-placement == "next-to-sidebar" and settings.show-sidebar and template == "index" %}{% include 'slider' %}{% endif %}

        {{ content_for_layout }}
      </div>
    </div>
  </div>
  
  {% include 'footer' %}
  {% include 'currencies' %}
</body>
</html>