<!DOCTYPE html>{% include '__variables' %}
<html>
<head>
  <title>{{ page_title }} | {{ shop.name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ 'base.css' | asset_url | stylesheet_tag }}
  
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  {{ 'bootstrap-collapse.js' | asset_url | script_tag }}
  
  {{ content_for_header }}
</head>

<body>
  <nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        {% if settings.logo-placement == "navbar" %}
        <a class="brand{% if settings.show-sidebar %} span3{% endif %}" href="/">{{ wordmark }}</a>
        {% endif %}
        <div class="nav-collapse collapse"> 
          <ul class="nav">
            {% for link in linklists.main-menu.links %}
            <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}" title="Go to {{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          
          <form class="navbar-search pull-right">
            <input type="text" class="search-query" placeholder="Search">
          </form>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="container">
    {% if settings.logo-placement != "sidebar" and settings.logo-placement != "navbar" %}
    <header class="page-header">
      <h1 class="text-{{ settings.logo-alignment }}"><a href="/">{{ shop.name | replace: ' ', '&nbsp;' }}</a></h1>
    </header>
    {% endif %}
    
    <div class="row">
      {% if settings.show-sidebar %}{% include '_sidebar' %}{% endif %}
      <div class="{{ main_span }}">
        {{ content_for_layout }}
      </div>
    </div>
  </div>
  
  <div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          {% for link in linklists.footer.links %}
          <li{% if link.active %} class="active"{% endif %}><a href="{{ link.url }}" title="Go to {{ link.title }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  
</body>
</html>