<!DOCTYPE html>
<html>
<head>
  <title>{% include 'smart-title' %} | {{ shop.name }}</title>
  {% include 'meta' %}
  
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  
  {{ '_base.css' | asset_url | stylesheet_tag }}
  {{ '_settings.scss.css' | asset_url | stylesheet_tag }}
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'bootstrapify-option-selection.min.js' | asset_url | script_tag }}
  
  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}
  
  {{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
  {{ 'transition.js' | asset_url | script_tag }}
  {{ 'button.js' | asset_url | script_tag }}
  {{ 'carousel.js' | asset_url | script_tag }}
  {{ 'collapse.js' | asset_url | script_tag }}
  {{ 'dropdown.js' | asset_url | script_tag }}
  {{ 'modal.js' | asset_url | script_tag }}
  {{ 'tooltip.js' | asset_url | script_tag }}
  {{ 'popover.js' | asset_url | script_tag }}
  {{ 'typeahead.js' | asset_url | script_tag }}
  
  {{ settings.custom-font-embed-code }}
  {{ settings.custom-header-code }}
  
  {{ content_for_header }}
</head>

<body class="{% if settings.show-multiple-currencies %} currencies{% endif %}{% if settings.centered-layout %} centered-layout{% endif %}">
  <div id="wrap">
  {% include 'navbar' with 'top' %}
  
  {% if settings.logo-placement == "above-navbar" %}{% include 'brand' %}{% endif %}
    
  {% if settings.main-navbar-placement != 'main-content-width' and settings.main-navbar-linklist != blank %}{% include 'navbar' with 'main' %}{% endif %}
  
  {% if settings.slider-width == "window-width" and template == "index" %}{% include 'slider' %}{% endif %}
    <div id="content" class="container">
      {% if  settings.main-navbar-placement == 'main-content-width' and settings.main-navbar-linklist != blank %}{% include 'navbar' with 'main' %}{% endif %}
      
      {% if settings.logo-placement != "navbar" and settings.logo-placement != "above-navbar" %}
        <div class="{% if settings.logo-placement == "sidebar" %} visible-xs{% endif %}">{% include 'brand' %}</div>
      {% endif %}
      {% if settings.slider-width == "site-width" and template == "index" %}{% include 'slider' %}{% endif %}
      
      {% if settings.show-breadcrumbs and template != 'index' %}{% include 'breadcrumbs' %}{% endif %}
      
      <div class="row">
        <div class="main-content {% include '__main-span' %}">
          {% if settings.slider-width == "main-content-width" and template == "index" %}{% include 'slider' %}{% endif %}
          {{ content_for_layout }}
        </div>
        
        {% if settings.show-sidebar %}
          {% unless settings.show-sidebar-on-homepage == blank and template == "index" %}
            {% include 'sidebar' %}
          {% endunless %}
        {% elsif settings.show-sidebar-on-homepage and template == "index" %}
          {% include 'sidebar' %}
        {% endif %}
      </div>
    </div>
  </div>
  
  {% include 'footer' %}
  {% include 'currencies' %}
  
  {{ '_base.js' | asset_url | script_tag }}
  <script type="text/javascript">
    $(document).ready(function(){
      $('.search').typeahead({
        name: 'Products',
        local: [{% include 'search-typeahead' %}]
      }).on('typeahead:selected', function (object, datum) {
        $(this).closest('form').submit();
      });
    });
  </script>
  {{ settings.custom-footer-code }}
</body>
</html>
