<div id="comment-{{ l_comment.id }}" class="media">
  <div class="pull-left thumbnail">
    <img src="http://www.gravatar.com/avatar/{{ l_comment.email | remove: ' ' | strip_newlines | downcase | md5 }}" class="media-object" alt="Gravatar for {{ l_comment.author }}" />
  </div>
  <div class="media-body">
    <p class="muted">Posted {{ l_comment.created_at | date: settings.long-date-format }} by {{ l_comment.author }}</p>
    {{ l_comment.content }}
  </div>
</div>