<div class="col-sm-{{ 12 | divided_by: footer_columns }} col-lg-{{ 12 | divided_by: footer_columns }}">
  {% assign footer_blog = 'column-' | append: i | append: '-blog' %}{% assign footer_blog = settings[footer_blog] %}
  {% unless blogs[footer_blog] == empty %}
  <h4>{{ blogs[footer_blog].title }}</h4>

  <ul class="nav nav-simple nav-stacked">
    {% for a in blogs[footer_blog].articles %}
    <li{% if a.url == article.url %} class="active"{% endif %}>{{ a.title | link_to: a.url, a.title }}</li>
    {% endfor %}
  </ul>
  {% endunless %}
        
  {% assign footer_menu = 'column-' | append: i | append: '-menu' %}{% assign footer_menu = settings[footer_menu] %}
  {% unless linklists[footer_menu] == empty %}
  <h4>{{ linklists[footer_menu].title }}</h4>

  <ul class="nav nav-simple nav-stacked">
    {% for l in linklists[footer_menu].links %}
    <li{% if l.active %} class="active"{% endif %}>{{ l.title | link_to: l.url, l.title }}</li>
    {% endfor %}
  </ul>
  {% endunless %}
        
  {% assign newsletter_column = 'column-' | append: i %}
  {% if settings.newsletter-signup-placement == newsletter_column %}
  <div class="footer-form">
    {% include 'newsletter-signup-form' %}
  </div>
  {% endif %}
                
  {% assign social_links_column = 'column-' | append: i %}
  {% if settings.social-links-placement == social_links_column %}
  <div class="clearfix social-icons">
    <hr>
    {% include 'footer-social-links' %}
  </div>
  {% endif %}
        
  {% assign footer_text = 'column-' | append: i | append: '-text' %}{% assign footer_text = settings[footer_text] %}
  {% unless footer_text == blank %}
  {{ footer_text }}
  {% endunless %}
</div>
