{% if sublink == true %}
{% assign advanced_list = sublink_handle %}
{% else %}
{% assign advanced_list = settings.advanced-homepage-layout %}
{% endif %}

{% for l in linklists[advanced_list].links %}

{% assign sublink_handle = l.handle %}
{% if linklists[sublink_handle].links.size > 0 %}{% assign sublink = true %}{% else %}{% assign sublink = false %}{% endif %}
{% if sublink == true and is_sublink != true %}
	{% assign is_sublink = true %}
	{% if linklists[sublink_handle].links.first.type == 'collection_link' %}
	<!-- list collection snippet -->
	<section id="featured-collections" class="section-wrap">
		{% include '__containers-open' %}
		<h2 class="page-header">{{ l.title }}</h2>
		{% include 'collections-list' with 't_object' %}
		{% include '__containers-close' %}
	</section>
	{% else %}
		{% include 'advanced-layout' with sublink_handle %}
	{% endif %}
	{% assign is_sublink = false %}
	<hr>
{% else %}

	{% assign t_object = l.object %}

	<!-- page snippet -->
	{% if l.type == 'page_link' %}
	<section id="homepage-intro{{ forloop.index }}" class="section-wrap">
		{% include '__containers-open' %}
		{% unless t_object == blank %}
		{% include '__formatted-content' with t_object.content %}
		{% endunless %}
		{% include '__containers-close' %}
	</section>
	{% endif %}

	<!-- collection snippet -->
	{% if l.type == 'collection_link' %}
	<section id="product-list" class="section-wrap">
		{% include '__containers-open' %}
		<h2 class="page-header"><a href="{{ l.url }}">{{ t_object.title }}</a>{% if t_object.all_products_count > homepage_products_limit %}&emsp;<a class="small" href="{{ homepage_collection.url }}">{% include '__localize' with 'View all' %}</a>{% endif %}</h2>
		{% include 'products-list' with 't_object' %}
		{% include '__containers-close' %}
	</section>
	{% endif %}

	<!-- blog snippet -->
	{% if l.type == 'blog_link' %}
	{% include 'homepage-blog-overview' with 't_object' %}
	{% endif %}

	<!-- product snippet -->
	{% if l.type == 'product_link' %}
	{% include 'product-page' with 't_object' %}
	{% endif %}

	{% if is_sublink != true %}<hr>{% endif %}
	
{% endif %}
{% endfor %}