{% include '__has-variables' %}

<section id="blog-wrap" class="section-wrap">
	<h1 class="page-header">{{ page_title }}</h1>
	{% unless settings.tag-placement == 'sidebar' %}{% include 'tag-buttons' %}{% endunless %}

	{% include '__default-pagination' %}
	{% paginate blog.articles by default-pagination %}

	{% for a in blog.articles %}
	<article class="excerpt row">
		<header class="col-xs-12">
			{% unless template contains 'testimonials' %}<h2>{{ a.title | link_to: a.url, a.title }}</h2>{% endunless %}
			<div class="excerpt-meta hidden-lg {% unless has_sidebar %} hidden-md{% endunless %}">
				{% include 'article-meta' with a %}
			</div>
		</header>
  
		<section class="col-xs-12{% unless has_sidebar %} col-md-9{% endunless %} col-lg-9{% if settings.sidebar-placement == 'right' %} col-md-push-3 col-lg-push-3{% endif %}">
      {% assign has_excerpt = false %}
			{% if template contains 'testimonials' %}
      <i class="fa fa-quote-left pull-left text-muted"></i>
      {{ a.content }}
      <p class="text-muted"> &mdash; {{ a.title }}</p>
      {% elsif a.excerpt == blank %}
      {% include '__formatted-content' with a.content %}
			{% else %}
      {% assign has_excerpt = true %}
			{{ a.excerpt }}
			{% endif %}
		</section>

		<section class="excerpt-meta visible-lg {% unless has_sidebar %} visible-md{% endunless %} col-xs-12{% unless has_sidebar %} col-md-3{% endunless %} col-lg-3{% if settings.sidebar-placement == 'right' %} col-md-pull-9 col-lg-pull-9{% endif %}">
			{% include 'article-meta' with a %}
		</section>
  
		{% if has_excerpt %}
		<footer class="col-xs-12">
			<ul class="pager">
				<li><a href="{{ a.url }}" class="pager">{% include '__localize' with 'View' %}&nbsp;&rarr;</a></li>
			</ul>
		</footer>
		{% endif %}
	</article>
	{% unless forloop.last %}<hr>{% endunless %}
	{% endfor %}

	{% include 'pagination' %}
	{% endpaginate %}

	<p class="text-right rss-subscribe">
		<i class="fa fa-rss-square text-muted"></i> <a class="text-muted" href="{{ blog.url | append: '.atom' }}">{% include '__localize' with 'Subscribe to RSS feed for ' %} {{ blog.title }}</a>
	</p>
</section>