<div class="pull-right">
  <p>Browse by tag:</p>
  <select class="coll-filter">
    <option value="">{% include '__localize' with 'all-products' %}</option>
    {% for t in collection.all_tags %}
    {% if current_tags contains t %}
    <option value="{{ t | handle }}" selected>{{ t | capitalize }}</option>
    {% else %}
    <option value="{{ t | handle }}">{{ t | capitalize }}</option>
    {% endif %}
    {% endfor %}
  </select>
</div>

<script>
/* Product Tag Filters - Good for any number of filters on any type of collection pages */
/* Brought to you by Caroline Schnapp */
var collFilters = jQuery('.coll-filter');
collFilters.change(function() {
  var newTags = [];
  collFilters.each(function() { 
    if (jQuery(this).val()) {
      newTags.push(jQuery(this).val());
    }
  });
  if (newTags.length) {
    var query = newTags.join('+');
    window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', query);
  } 
  else {
    {% if collection.handle %}
    window.location.href = '/collections/{{ collection.handle }}';
    {% elsif collection.products.first.type == collection.title %}
    window.location.href = '{{ collection.title | url_for_type }}';
    {% elsif collection.products.first.vendor == collection.title %}
    window.location.href = '{{ collection.title | url_for_vendor }}';
    {% endif %}
  }
});
</script>