{% if settings.show-multiple-currencies %}
<ul class="nav pull-right text-muted">
  <li class="navbar-text">
    <small id="current-currency">
      {% if settings.currency-switcher-position == 'navbar' %}
        <span id="currency-picker-toggle"><strong><a href="#" class="selected-currency">{{ shop.currency }}</a></strong></span>
      {% else %}
      All prices in <strong><span class="selected-currency">{{ shop.currency }}</span></strong> 
      <span id="currency-picker-toggle">(<a href="#" class="text-muted">change</a>)</span>
      {% endif %}
    </small>
    
    <form id="currencies-picker" class="navbar-form" style="display:none;">
      <div class="form-group">
        <select id="currencies" class="form-control" name="currencies">
          {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
          {% assign supported_codes = settings.supported-currencies | remove: ',' | split: ' ' %}
          <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
          {% for code in supported_codes %}
          {% if code != shop.currency and codes contains code %}
          <option value="{{ code }}">{{ code }}</option>
          {% endif %}
          {% endfor %}
        </select>
      </div>
    </form>
    
    
    {% comment %}
    <span id="currencies-picker" class="navbar-form" style="display:none;">
      &nbsp;<select id="currencies" class="input-auto form-control" name="currencies">
        {% capture codes %},USD,EUR,GBP,CAD,ARS,AUD,BBD,BDT,BSD,BHD,BRL,BOB,BND,BGN,MMK,KYD,CLP,CNY,COP,CRC,HRK,CZK,DKK,DOP,XCD,EGP,XPF,FJD,GHS,GTQ,GYD,GEL,HKD,HUF,ISK,INR,IDR,NIS,JMD,JPY,JOD,KZT,KES,KWD,LVL,LTL,MXN,MYR,MUR,MDL,MAD,MNT,MZN,ANG,NZD,NGN,NOK,OMR,PKR,PYG,PEN,PHP,PLN,QAR,RON,RUB,SAR,RSD,SCR,SGD,SYP,ZAR,KRW,LKR,SEK,CHF,TWD,THB,TZS,TTD,TRY,UAH,AED,UYU,VEB,VND,ZMK,{% endcapture %}
        {% assign supported_codes = settings.supported-currencies | remove: ',' | split: ' ' %}
        <option value="{{ shop.currency }}" selected="selected">{{ shop.currency }}</option>
        {% for code in supported_codes %}
        {% if code != shop.currency and codes contains code %}
        <option value="{{ code }}">{{ code }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </span>
    {% endcomment %}
    
  </li>

  <li class="divider"></li>
</ul>
{% endif %}