{% assign span = 12 | divided_by: cols %}
{% if features-loop == 'linklist' %}
  {% assign object = l.object %}
  {% capture excerpt %}{% include __excerpt with object.content %}
{% else %}
  {% assign object = l %}
  {% assign excerpt = object.excerpt | strip_html %}
{% endif %}
{% capture blurb %}<h3 class="text-left media-heading"><a href="{{ l.url }}" title="{% include '__localize' with 'Go to ' %} {{ object.title }}">{{ l.title }}</a></h3>
      {% if features-loop == 'blog' %}<small>{% include 'article-meta' with object %}</small>{% endif %}
      <p>{% if excerpt == blank and shop.url contains 'myshopify' and settings.development-mode %}This will show an excerpt of the content (if one exists). To hide this placeholder text, disable development mode in Settings » Advanced.{% else %}{{ excerpt }}{% endif %}</p>
{% endcapture %}
<div class="col-md-{{ span }}">
  {% if object.metafields.lucid.icon == blank %}
    {{ blurb }}
  {% else %}
  <div class="media">
    <div class="pull-left">
      <i class="fa fa-{{ object.metafields.lucid.icon }} fa-fw fa-2x text-muted media-object"></i>
    </div>
    <div class="media-body">
      {{ blurb }}
    </div>
  </div>
  {% endif %}
</div>
{% assign break = forloop.index | modulo: cols %}
{% if break == 0 %}<div class="clearfix"></div>{% endif %}