<footer class="footer">
  <div class="container">
    <div class="row">
      {% assign footer_columns = settings.footer-columns | plus: 0 %}
      {% for i in (1..footer_columns) %}
      <div class="span{{ 12 | divided_by: footer_columns }}">
        {% assign footer_blog = 'column-' | append: i | append: '-blog' %}{% assign footer_blog = settings[footer_blog] %}
        {% unless blogs[footer_blog] == empty %}
        <h4>{{ blogs[footer_blog].title }}</h4>

        <ul class="nav nav-simple nav-stacked">
          {% for a in blogs[footer_blog].articles %}
          <li{% if a.url == article.url %} class="active"{% endif %}>{{ a.title | link_to: a.url, a.title }}</li>
          {% endfor %}
        </ul>
        {% endunless %}
        
        {% assign footer_menu = 'column-' | append: i | append: '-menu' %}{% assign footer_menu = settings[footer_menu] %}
        {% unless linklists[footer_menu] == empty %}
        <h4>{{ linklists[footer_menu].title }}</h4>

        <ul class="nav nav-simple nav-stacked">
          {% for l in linklists[footer_menu].links %}
          <li{% if l.active %} class="active"{% endif %}>{{ l.title | link_to: l.url, l.title }}</li>
          {% endfor %}
        </ul>
        {% endunless %}
        
        {% assign newsletter_column = 'column-' | append: i %}
        {% if settings.newsletter-signup-placement == newsletter_column %}
        <div class="footer-form">
          {% include 'newsletter-signup-form' %}
        </div>
        {% endif %}
                
        {% assign social_links_column = 'column-' | append: i %}
        {% if settings.social-links-placement == social_links_column %}
        <div class="clearfix social-icons">
          {% include 'footer-social-links' %}
        </div>
        {% endif %}
        
        {% assign footer_text = 'column-' | append: i | append: '-text' %}{% assign footer_text = settings[footer_text] %}
        {% unless footer_text == blank %}
          {{ footer_text }}
        {% endunless %}
      </div>
      {% endfor %}
    </div>
  </div>
</footer>

<div class="navbar navbar-fixed-bottom{% include '__color-scheme' with 'navbar' %}">
  <div class="navbar-inner">
    <div class="container">
      <div class=" pull-right navbar-text">
        <ul class="footer-links">
          {% for l in linklists.footer.links %}<li>{% if l.active %}<strong>{% endif %}<a href="{{ l.url }}"{% unless l.active %} class="muted"{% endunless %} title="Go to {{ l.title }}">{{ l.title }}</a>{% if l.active %}</strong>{% endif %}</li>{% endfor %}
        </ul>
      </div>
      {% include 'currency-switcher' %}
      <div class="pull-left navbar-text">
        <small class="muted">
          &copy;{{ 'now' | date: '%Y' }}&nbsp;<strong><a href="/" title="{{ shop.name }} {% include '__localize' with 'homepage' %}">{{ shop.name | replace: ' ', '&nbsp;' }}</a></strong>. 
          {% unless settings.hide-theme-designer-credits %}<a href="https://github.com/luciddesign/bootstrapify/" title="Bootstrapify, open-source Shopify theme on GitHub">Boostrapify</a>&nbsp;theme&nbsp;by&nbsp;<a href="http://luciddesign.co.nz" title="Lucid Design, Nelson, New Zealand" target="_blank">Lucid&nbsp;Design</a>.&nbsp;{% endunless %}Powered&nbsp;by&nbsp;<a href="http://www.shopify.com{% unless settings.shopify-affiliate-code == blank %}?ref={{ settings.shopify-affiliate-code }}{% endunless %}" target="_blank">Shopify</a>.
        </small>
      </div>      
    </div>
  </div>
</div>