{% assign object = l.object %}
{% capture icon %}{{ object.metafields.fa-icon.name }}{{ object.metafields.image.src }}{% endcapture %}

<div class="col-sm-{{ span }}">
  <div class="row feature-row{% if icon != blank %} feature-has-icon{% endif %}">
    {% if icon != blank %}
    <div class="feature-icon">
      {% if object.metafields.fa-icon.name != blank %}
      <h3><i class="fa fa-{{ object.metafields.fa-icon.name }} fa-fw fa-2x text-muted"></i></h3>
      {% endif %}
      {% if object.metafields.image.src != blank %}
      <img src="{{ object.metafields.image.src }}" alt="{{ l.title }}">
      {% endif %}
    </div>
    {% endif %}
    <div class="feature-description">
      {% if object.published_at == blank %}
        <h3>{{ l.title }}</h3>
        {% if l.type == 'collection_link' %}{{ object.description }}{% else %}{{ object.content }}{% endif %}
      {% else %}
        <h3><a href="{% if object.metafields.target.url != blank %}{{ object.metafields.target.url }}{% else %}{{ l.url }}{% endif %}" title="{% include '__localize' with 'Go to ' %} {{ object.title }}">{{ l.title }}</a></h3>
        {% if l.type == 'collection_link' %}{{ object.description }}{% else %}{% include '__excerpt' with object.content %}{% endif %}
      {% endif %}
    </div>
  </div>
</div>