{% assign testimonials_blog = blogs[settings.testimonials-blog] %}
{% if testimonials_blog != empty and testimonials_blog.articles.size > 0 %}
<section id="index-testimonials" class="section-wrap">
	{% include '__containers-open' %}
		<h2 class="page-header">{{ testimonials_blog.title }}{% if testimonials_blog.articles.size > testimonials_blog_post_limit %}&ensp;<a class="small" href="{{ testimonials_blog.url }}">{% include '__localize' with 'View all' %}</a>{% endif %}</h2>
		<div class="row masonry-collection testimonials">
			{% for t in testimonials_blog.articles | limit: testimonials_blog_post_limit %}
			{% capture testimonial %}<i class="fa fa-quote-left pull-left text-muted"></i>{% include '__excerpt' with t.content %}{% if is_truncated %}<a href="{{ t.url }}" title="{% include '__localize' with 'View testimonial by' %} {{ t.title }}">{% include '__localize' with 'Read&nbsp;more' %}</a>{% endif %}
			<p class="text-muted"> &mdash; {{ t.title }}</p>{% endcapture %}
	    {% if forloop.length <= 4 %}
	    {% assign span = forloop.length | modulo: 12 %}
	    {% assign span = 12 | divided_by: span %}
	    {% else %}
	    {% assign span = 4 %}
	    {% endif %}
			<div class="col-sm-{{ span }} testimonial">
				{% if t.excerpt == blank %}
				{{ testimonial }}
				{% else %}
				<div class="media">
					<div class="pull-left col-xs-3">
						<p>{{ t.excerpt | replace: '_small', '_medium' | replace: '<img', '<img class="img-circle"' }}</p>
					</div>
					<div class="media-body">
						{{ testimonial }}
					</div>
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
	{% include '__containers-close' %}
</section>
{% endif %}