{% assign linklist_parts = navbar-nav | split: '-' %}
{% assign linklist_name = linklist_parts[0] | append: '-navbar-linklist-' | append: linklist_parts[1] %}
{% assign linklist_setting = settings[linklist_name] %}

{% if linklist_setting %}
<ul class="nav navbar-nav  navbar-right {% unless settings.logo-placement == 'navbar' and linklist_parts[0] == 'top' %}navbar-{{ linklist_parts[1] }}{% endunless %}">
  {% for l in linklists[linklist_setting].links %}
  {% include '_navbar-link' %}
  {% endfor %}
</ul>
{% endif %}

{% assign placement = linklist_parts[0] | append: '-navbar-' | append: linklist_parts[1] %}

{% if settings.newsletter-signup-placement == placement %}
{% assign form-placement = 'navbar-' | append: linklist_parts[1] %}
  {% include 'newsletter-signup-form' with form-placement %}
{% endif %}

{% if settings.social-links-placement == placement %}
<p class="footer-credits navbar-left">
	<small>
		&copy;{{ 'now' | date: '%Y' }}&nbsp;<strong><a href="/" title="{{ shop.name }} {% include '__localize' with 'homepage' %}">{{ shop.name | replace: ' ', '&nbsp;' }}</a></strong>. <br class="visible-sm">
		Design&nbsp;by&nbsp;<a href="http://luciddesign.co.nz" title="Lucid Design, Nelson, New Zealand" target="_blank">Lucid&nbsp;Design</a>. <br class="visible-sm">
		Powered&nbsp;by&nbsp;<a href="http://www.shopify.com?ref=lucid-design" target="_blank">Shopify</a>.
	</small>
</p>
	
<div class="nav navbar-text navbar-{{ linklist_parts[1] }} social-icons">
	{% include 'social-links' %}
</div>
{% endif %}