{% assign navbar-placement = navbar | append: '-navbar-placement' %}
{% case settings[navbar-placement] %}
{% when 'fixed-to-top' %}
  {% assign placement = 'navbar-fixed-top' %}
{% when 'fixed-to-bottom' %}
  {% assign placement = 'navbar-fixed-bottom' %}
{% when 'static-top' or 'full-width' %}
  {% assign placement = 'navbar-static-top' %}
{% else %}
  {% assign placement = false %}
{% endcase %}

<nav id="navbar-{{ navbar }}" class="navbar navbar-default{% if placement %} {{ placement }}{% endif %}{% if navbar == 'main' %} hidden-xs{% endif %}{% if has_top_navbar == false and navbar == 'top' %} visible-xs{% endif %}" role="navigation">
  {% unless navbar == 'main' %}<div class="container">{% endunless %}
    {% if navbar == 'footer' %}
      <div class="collapse navbar-collapse" id="{{ navbar }}-nav">
        {% include 'navbar-nav' with 'footer-left' %}
        {% include 'navbar-nav' with 'footer-right' %}
      </div>
    {% endif %}
  
    {% unless has_top_navbar and navbar == 'main' %}
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#{{ navbar }}-nav">
        <span class="sr-only">Toggle main navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if settings.logo-placement == 'top-navbar' and navbar == 'top' %}<a class="navbar-brand" href="/">{% include 'logo' %}</a>{% endif %}
    </div>
    {% endunless %}
    
    {% unless navbar == 'footer' %}
    <div class="collapse navbar-collapse" id="{{ navbar }}-nav">
      {% if navbar == 'top' %}
        {% include '_navbar-top' %}
        <div class="visible-xs">
          {% include '_navbar-main' %}
        </div>
      {% else %}
        {% include '_navbar-main' %}
      {% endif %}
    </div>
    {% endunless %}
  {% unless navbar == 'main' %}</div>{% endunless %}
</nav>