{% assign linklist_parts = navbar-nav | split: '-' %}
{% assign linklist_name = linklist_parts[0] | append: '-navbar-linklist-' | append: linklist_parts[1] %}
{% assign linklist_setting = settings[linklist_name] %}

{% if linklist_setting or has_cart %}
<ul class="nav navbar-nav {% unless settings.logo-placement == 'top-navbar' and linklist_parts[0] == 'top' %}navbar-{{ linklist_parts[1] }}{% endunless %}">
  {% for l in linklists[linklist_setting].links %}
  {% include 'navbar-link' %}
  {% endfor %}
  
  {% if navbar-nav == 'top-right' %}
  {% if shop.customer_accounts_enabled %}
  <li class="dropdown hidden-xs{% if template contains 'customers' %} active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
    <ul class="dropdown-menu">
      {% if customer %}
      <li><a href="/account">Welcome, {{ customer.first_name }}!</a></li>
      <li>{% capture logout %}{% include '__localize' with 'Log out' %}{% endcapture %}{{ logout | customer_logout_link }}</li>
      {% else %}
      <li>{% capture register %}{% include '__localize' with 'Register' %}{% endcapture %}{{ register | customer_register_link }}</li>
      <li>{% capture login %}{% include '__localize' with 'Log in' %}{% endcapture %}{{ login | customer_login_link }}</li>
      {% endif %}
    </ul>
  </li>
  {% endif %}
  {% if has_cart %}
  <li class="hidden-xs{% if template == 'cart' %} active{% endif %}">
    <a href="/cart"><i class="fa fa-shopping-cart"></i>{% if cart.item_count > 0 %} <span class="badge cartCount">{{ cart.item_count }}</span>{% endif %}</a>
  </li>
  {% endif %}
  {% endif %}
</ul>
{% endif %}

{% assign placement = linklist_parts[0] | append: '-navbar-' | append: linklist_parts[1] %}

{% if settings.newsletter-signup-placement == placement %}
{% assign form-placement = 'navbar-' | append: linklist_parts[1] %}
  {% include 'newsletter-signup-form' with form-placement %}
{% endif %}

{% if has_social and settings.social-links-placement == placement %}
<div class="nav navbar-text navbar-{{ linklist_parts[1] }} social-icons">
  {% include 'social-links' %}
</div>
{% endif %}

{% if placement == 'footer-navbar-right' and settings.currency-switcher-position == 'footer-navbar' %}
  {% include 'currency-switcher' %}
{% endif %}