{% assign navbar-placement = navbar | append: '-navbar-placement' %}
{% case settings[navbar-placement] %}
{% when 'fixed-to-top' %}
  {% assign placement = 'navbar-fixed-top' %}
{% when 'fixed-to-bottom' %}
  {% assign placement = 'navbar-fixed-bottom' %}
{% when 'static-top' or 'full-width' %}
  {% assign placement = 'navbar-static-top' %}
{% else %}
  {% assign placement = false %}
{% endcase %}

<nav id="navbar-{{ navbar }}" class="navbar{% if placement %} {{ placement }}{% endif %}{% if navbar == 'main' %} hidden-xs{% endif %}" role="navigation">
  <div class="container">
    {% if navbar == 'footer' %}
      <div class="collapse navbar-collapse" id="{{ navbar }}-nav">
        {% include '_navbar-footer' %}
      </div>
    {% endif %}
  
    <div class="navbar-header">
      {% unless navbar == 'main' %}
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#{{ navbar }}-nav">
        <span class="sr-only">Toggle main navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% endunless %}
      {% if settings.logo-placement == "navbar" and navbar == 'top' %}<a class="navbar-brand" href="/">{% include 'logo' %}</a>{% endif %}
    </div>
    
    {% unless navbar == 'footer' %}
    <div class="collapse navbar-collapse" id="{{ navbar }}-nav">
      {% if navbar == 'top' %}
        {% include '_navbar-top' %}
        <div class="visible-xs">
          {% include '_navbar-main' %}
        </div>
      {% else %}
        {% include '_navbar-main' %}
      {% endif %}
    </div>
    {% endunless %}
  </div>
</nav>





{% comment %}
{% unless navbar == 'footer' %}
<nav id="site-navbar-{{ navbar }}" class="navbar" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
        <span class="sr-only">Toggle main navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      {% if navbar == 'top' %}
      {% else %}
        {% if settings.logo-placement == "navbar" %}<a class="navbar-brand" href="/">{% include 'logo' %}</a>{% endif %}
      {% endif %}
    </div>
  
    <div class="collapse navbar-collapse" id="main-nav">
      {% if navbar == 'top' %}
        <ul class="nav navbar-nav navbar-left">
          {% for l in linklists[settings.main-navbar-linklist].links %}
          {% include '_navbar-link' %}
          {% endfor %}
        </ul>
      
        {% if settings.show-search-in-navbar %}
        <form class="navbar-form col-sm-2 navbar-right" action="/search">
          <input type="search" name="q" class="form-control search" autocomplete="off" placeholder="{% include '__localize' with 'Search' %}" value="{{ search.terms }}">
          <input type="submit" class="btn btn-default" value="Search" style="visibility: hidden; width: 0; height: 0; margin: 0; padding: 0; border-width: 0; float: right;" />
        </form>{% endif %}
          
        <div class="hidden-xs">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i></a>
              <ul class="dropdown-menu">
                <li><a href="/cart" title="{% include '__localize' with 'View cart' %}"><strong>{% include '__localize' with 'View cart' %}</strong> <span class="badge">{% include 'cart-count' %}</span></a></li>
                {% if cart.item_count > 0 %}
                <li><a href="/checkout" title="{% include '__localize' with 'Checkout' %}">{% include '__localize' with 'Checkout' %}</a></li>
                {% endif %}
              </ul>
            </li>
            {% if shop.customer_accounts_enabled %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
              <ul class="dropdown-menu">
                {% if customer %}
                <li><a href="/account">Welcome, {{ customer.first_name }}!</a></li>
                <li>{% capture logout %}{% include '__localize' with 'Log out' %}{% endcapture %}{{ logout | customer_logout_link }}</li>
                {% else %}
                <li>{% capture register %}{% include '__localize' with 'Register' %}{% endcapture %}{{ register | customer_register_link }}</li>
                <li>{% capture login %}{% include '__localize' with 'Log in' %}{% endcapture %}{{ login | customer_login_link }}</li>
                {% endif %}
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="visible-xs">
          <ul class="nav navbar-nav">
            <li><a href="/cart">{% include '__localize' with 'View cart' %} <span class="badge">{% include 'cart-count' %}</span></a></li>
            {% if cart.item_count > 0 %}<li><a href="/checkout" title="{% include '__localize' with 'Checkout' %}">{% include '__localize' with 'Checkout' %}</a></li>{% endif %}
            {% if shop.customer_accounts_enabled %}
              {% if customer %}
              <li><a href="/account">Welcome, {{ customer.first_name }}!</a></li>
              <li>{% capture logout %}{% include '__localize' with 'Log out' %}{% endcapture %}{{ logout | customer_logout_link }}</li>
              {% else %}
              <li>{% capture register %}{% include '__localize' with 'Register' %}{% endcapture %}{{ register | customer_register_link }}</li>
              <li>{% capture login %}{% include '__localize' with 'Log in' %}{% endcapture %}{{ login | customer_login_link }}</li>
              {% endif %}
            {% endif %}
          </ul>
        </div>
        {% if settings.currency-switcher-position == 'navbar' %}{% include 'currency-switcher' %}{% endif %}
      {% else %}
        <ul class="nav navbar-nav {% unless settings.logo-placement == 'navbar' %}navbar-left{% endunless %}">
          {% for l in linklists[settings.navbar-linklist].links %}
          {% include '_navbar-link' %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>

{% else %}
    <div id="footer-credits" class="navbar" role="navigation">
    <div class="container">
      <div class="collapse navbar-collapse" id="footer-nav">
        <div class="navbar-left navbar-text">
          <small class="text-muted">
            &copy;{{ 'now' | date: '%Y' }}&nbsp;<strong><a href="/" title="{{ shop.name }} {% include '__localize' with 'homepage' %}">{{ shop.name | replace: ' ', '&nbsp;' }}</a></strong>. <br class="visible-sm">
            <a href="https://github.com/luciddesign/bootstrapify/" title="Bootstrapify, open-source Shopify theme on GitHub">Boostrapify</a>&nbsp;theme&nbsp;by&nbsp;<a href="http://luciddesign.co.nz" title="Lucid Design, Nelson, New Zealand" target="_blank">Lucid&nbsp;Design</a>. <br class="visible-sm">
            Powered&nbsp;by&nbsp;<a href="http://www.shopify.com?ref=lucid-design" target="_blank">Shopify</a>.
          </small>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% for l in linklists[settings.footer-navbar-linklist].links %}
          {% include '_navbar-link' with 0 %}
          {% endfor %}
        </ul>
        {% unless settings.currency-switcher-position == 'navbar' %}{% include 'currency-switcher' %}{% endunless %}
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-nav">
          <span class="sr-only">Toggle main navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
  </div>
{% endunless %}
{% endcomment %}