{% capture fields %}<input type="hidden" id="contact_tags" name="contact[tags]" value="prospect,newsletter">
<div class="input-group">
  {% if settings.mailchimp == blank %}
  <input type="email" id="contact_email" name="contact[email]" class="form-control" placeholder="{% include '__localize' with 'Your email' %}">
  {% else %}
  <input type="email" id="contact_email" name="EMAIL" class="form-control" placeholder="{% include '__localize' with 'Your email' %}">
  {% endif %}
  <span class="input-group-btn"><button type="submit" class="btn btn-primary">{% include '__localize' with 'Subscribe' %}</button></span>
</div>{% endcapture %}

{% capture form %}
  <div class="newsletter-form">
  {% if settings.mailchimp == blank %}
    {% form 'customer' %}
      {{ fields }}
    {% endform %}
  {% else %}
    <form action="{{ settings.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate contact-form" target="_blank">
      {{ fields }}
    </form>
  {% endif %}
  </div>
{% endcapture %}

{% if newsletter-signup-form contains 'navbar' %}
<div class="navbar-form {{ newsletter-signup-form }} newsletter">
  {{ form }}
</div>
{% else %}
<h4 {% unless newsletter-signup-form == 'footer' %}class="page-header"{% endunless %}>{% include '__localize' with 'Join our newsletter' %}</h4>
<div class="form-inline">
  {{ form }}
</div>
{% endif %}

<script type="text/javascript">

  var removeNewsletterAlert = function($form){
    window.setTimeout(function(){
      $form.find('.alert').hide(186, function(){
        this.remove();
      });
    }, 6000);
  };
  
  var resetNewsletterForm = function($form){
    $form.find('[type="submit"]').prop('disabled', false);
    $form.find('#contact_email').val('');
    removeNewsletterAlert($form);
  };

  $(document).on('submit', '.newsletter-form > form', function(e){
    var $form = $(this);
    e.preventDefault();
    $form.find('[type="submit"]').prop('disabled', true);
    if($form.find('#contact_email').val() !== ''){
      $.ajax({
        type: 'POST',
        //dataType: 'json',
        url: $form.prop('action'),
        data: $form.serialize()
      })
      .done(function(result){
        $form.prepend('<div class="alert alert-success">Thank you for subscribing to our email newsletter.</div>');
        resetNewsletterForm($form);
      })
      .fail(function(err){
        console.log('err: ', err);
        $form.prepend('<div class="alert alert-danger">There was an error subscribing to our email newsletter.</div>');
        resetNewsletterForm($form);
      });
    }
  });
</script>