<form id="{% include '__advanced-layout-id' with 'product-form' %}" action="/cart/add" method="post" role="form" enctype="multipart/form-data">
  <div class="product-variants">
  	<div class="col-xs-12 col-lg-6">
  		<select id="{% include '__advanced-layout-id' with 'product-select' %}" name="id" class="form-control input-lg">
  			{% for v in product.variants %}
  			<option value="{{ v.id }}"{% if v == product.selected_or_first_available_variant %} selected="selected"{% endif %}>{{ v.title }}</option>
  			{% endfor %}
  		</select>
  	</div>
  	{% if product.metafields.properties.size > 0 %}
  	<div class="col-xs-12 col-lg-6">
  	{% for l_item in product.metafields.properties %}
  	{% assign key = l_item.first | split: ':' %}
  	{% assign key_type = key.last %}
  	{% assign key_title = key.first %}
  	{% assign value = l_item.last %}
  	<div class="form-group">
  		<label>{{ key_title }}</label>
  		{% if key_type == 'select' %}
  		{% assign value_array = value | split: ',' %}
  		<select class="form-control" name="properties[{{ key_title }}]">
  			{% for v in value_array %}
  			<option value="{{ v }}">{{ v }}</option>
  			{% endfor %}
  		</select>
  		{% elsif key_type == 'text' %}
  		<input type="text" class="form-control" name="properties[{{ key_title }}]" placeholder="{{ value }}" />
  		{% elsif key_type == 'checkbox' %}
  		<p><input type="checkbox" name="properties[{{ key_title }}]" value="{{ value }}" />&nbsp;{{ value }}</p>
  		{% elsif key_type == 'file' %}
  		<p><input type="file" id="{{ key_title }}" name="properties[{{ key_title }}]">&nbsp;<small><em>{{ value }}</em></small></p>
  		{% endif %}
  	</div>
  	{% endfor %}
  	</div>
  	{% endif %}
  </div>
  
  <div class="row">
  	<div class="col-sm-4 quantity-wrap">
  	  <div class="form-group">
    		<input class="form-control input-lg" min="1" type="number" id="quantity" placeholder="Quantity" name="quantity" value="1" />
  	  </div>
  	</div>
  	<div class="col-sm-8 add-to-cart-button-wrap">
  	  <div class="form-group">
    		<input type="submit" name="add" value="{% include '__localize' with 'Add to cart' %}" id="purchase" class="purchase-btn" />
  	  </div>

      {% if settings.secondary-call-to-action-url != blank %}
      <p><br><em>{% include '__localize' with 'Not quite what you are after?' %}</em><br><a href="{{ settings.secondary-call-to-action-url }}?title={{ product.title | replace: ' ', '%20' }}&handle={{ product.handle }}"><strong>{% include '__localize' with 'Contact us for variations' %}</strong></a></p>
      {% endif %}

      <div class="share-icons">
        {% capture tweet %}https://twitter.com/intent/tweet?text={% include '__localize' with 'Check out' %} {{ page_title }}—{{ canonical_url }}{% unless settings.social-links-twitter == blank %} (via @{{ settings.social-links-twitter | split: '/' | last }}){% endunless %}{% endcapture %}
        {% capture email_subject %}{% include '__localize' with 'Check out' %} {{ page_title }}{% endcapture %}
        {% capture email_body %}{% include '__localize' with 'Hey' %}, {% include '__localize' with 'I was just looking at' %} {{ page_title }} {% include '__localize' with 'on' %} {{ shop.name }} {% include '__localize' with 'and wanted to share it with you' %}. {% include '__localize' with 'Check out' %} {{ canonical_url }}{% endcapture %}
        Share: 
        <a href="{{ tweet | replace: ' ','%20' }}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
        <a href="http://pinterest.com/pin/create/button/?url={{ canonical_url }}&media={{ product.featured_image.src | product_img_url: '2048x2048' }}&description={{ page_title | replace: ' ','%20' }}" target="_blank"><i class="fa fa-pinterest fa-fw"></i></a>
        <a href="mailto:?subject={{ email_subject | replace: ' ','%20' }}&body={{ email_body }}" target="_blank"><i class="fa fa-envelope fa-fw"></i></a>
      </div>
  	</div>
  </div>
</form>

<div class="row notify-me-wrapper">
  <div class="col-xs-12">
    {% form 'contact' %}
      <div class="notify-me-form well">
        <h3>{{ product.title }} is unavailable</h3>
        <p>{% include '__localize' with 'Leave your email address if you would like to be notified when it becomes&nbsp;available.' %}</p>
        <div class="alert" style="display: none"></div>
        <div class="form-group">
          <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }} becomes available." />
          <div class="input-group">
            <input class="form-control input-lg{% if form.errors contains 'email' %} error{% endif %}" id="{% include '__advanced-layout-id' with 'notify-input' %}" required="required" type="email" name="contact[email]" placeholder="your@email.com" value="{{ contact.fields.email }}" />
            <span class="input-group-btn">
              <input class="btn btn-primary btn-lg" type="submit" value="{% include '__localize' with 'Notify me' %}" >
            </span>
          </div>
        </div>
      </div>
    {% endform %}
  </div>
</div>
<hr>

<script>
  jQuery(function() {
    // option selectors extended with boostrap markup and link options
    new Shopify.BootstrapifyOptionSelectors("{% include '__advanced-layout-id' with 'product-select' %}", { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true{% unless settings.show-unavailable-products %}, linkOptions: true {% endunless %}});
  });
</script>