{% if t_object != blank %}
{% assign product = t_object %}
{% endif %}
{% capture vars %}
{% if product.featured_image == blank %}
{% include 'image-placeholder' %}
{% else %}
{% capture image %}
{% unless settings.container-width-large-devices contains 'px' %}{% assign product_img_size = '1024x1024' %}{% else %}{% assign product_img_size = 'grande' %}{% endunless %}
{% if settings.round-thumbnail-images and template != 'index' %}{% assign round-class = 'img-circle' %}{% else %}{% assign round-class = null %}{% endif %}	
<img class="{{ round-class }}" src="{{ product.featured_image.src | product_img_url: product_img_size }}" alt="{{ product.featured_image.alt }}" itemprop="image">
{% endcapture %}
{% endif %}
{% endcapture %}

<section id="{% include '__advanced-layout-id' with 'product-wrap' %}" class="section-wrap">
	{% include '__containers-open' %}
	<div class="visible-xs">
		<h1 class="page-header" itemprop="name">{{ product.title }}</h1>
	</div>

	<form id="{% include '__advanced-layout-id' with 'product-form' %}" action="/cart/add" method="post" role="form" enctype="multipart/form-data">
		<div class="row" itemscope itemtype="http://data-vocabulary.org/Product">
	
			<!-- images col -->
			<div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
				<div class="row product-images">
					<div class="col-xs-12 col-sm-12">
						<div class="thumbnail product-main-image">
							{{ image }}
						</div>
					</div>
					{% if product.images.size > 1 %}
					{% for image in product.images %}
					<div class="col-xs-4">
						<div class="thumbnail">
							<div class="thumbnail-image product-main-thumb">
								<a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
									{% if settings.round-thumbnail-images %}
									{{ image.src | product_img_url: 'medium' | img_tag: image.alt, 'img-circle' }}
									{% else %}
									{{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
									{% endif %}
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
				</div>
			</div>
	
			<!-- details col -->
			<div id="product-details" class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-pull-6{% endif %}">
				<h1 class="hidden-xs" itemprop="name">{{ product.title }}</h1>
				{% if has_prices %}
				<div class="product-price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
					<span class="price-field">{% include 'product-price' with product.price %}</span>
					<del class="compare-at-price-field text-muted"></del>
					<span class="sale-label" style="display: none;">{% include '__localize' with 'On sale' %}</span>
					<meta itemprop="currency" content="{{ shop.currency }}" />
					<meta itemprop="identifier" content="sku:{{ product.variants.first.sku }}" />
				</div>
				{% endif %}
				{% if has_cart %}{% include 'product-add-to-cart-form' %}{% endif %}
				
				{% if settings.product-tab-linklist == null %}
				<div itemprop="description">{% include '__formatted-content' with product.description %}</div>
				{% else %}
				<ul class="nav nav-tabs">
					<li class="active"><a href="#tab-desc" data-toggle="tab">{% include '__localize' with 'Description' %}</a></li>
					{% for l in linklists[settings.product-tab-linklist].links %}
					{% assign t_string = t_string | append: ',' | append: l.title %}
					<li><a href="#{{ l.handle | prepend: 'tab-' }}" data-toggle="tab">{{ l.title }}</a></li>
					{% endfor %}
					{% for t in product.metafields.tabs %}
					{% unless t_string contains t.first %}
						<li><a href="#{{ t.first| handleize | prepend: 'tab-' }}" data-toggle="tab">{{ t.first }}</a></li>
					{% endunless %}
					{% endfor %}
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab-desc">
						<div itemprop="description">{% include '__formatted-content' with product.description %}</div>
					</div>
					{% for l in linklists[settings.product-tab-linklist].links %}
					<div class="tab-pane fade" id="{{ l.handle | prepend: 'tab-' }}">
						{% if l.handle contains 'review' and l.url == '#' %}
						<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
						{% assign t_reviews = true %}
						{% else %}
						{% for t in product.metafields.tabs %}{% if t.first == l.title %}{% assign t_found = true %}{% assign t_content = t.last %}{% endif %}{% endfor %}
						{% if t_found == true %}
						{{ t_content }}
						{% else %}
						{% include '__formatted-content' with l.object.content %}
						{% endif %}
						{% assign t_found = false %}
						{% endif %}
					</div>
					{% endfor %}
					{% for t in product.metafields.tabs %}
					{% unless t_string contains t.first %}
					<div class="tab-pane fade" id="{{ t.first| handleize | prepend: 'tab-' }}">
						{% include '__formatted-content' with t.last %}
					</div>
					{% endunless %}
					{% endfor %}
				</div>
				{% endif %}
    
				{% include 'product-specs' %}
      		  
			  	{% unless t_reviews == true %}
				<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
				{% endunless %}
			</div>
		</div>
	</form>
	{% include '__containers-close' %}
</section>