<div id="product-variants" class="row">
	<div class="col-xs-12 col-lg-6">
		<select id="{% include '__advanced-layout-id' with 'product-select' %}" name="id" class="form-control input-lg">
			{% for v in product.variants %}
			<option value="{{ v.id }}">{{ v.title }}</option>
			{% endfor %}
		</select>
	</div>
	{% if product.metafields.properties.size > 0 %}
	<div class="col-xs-12 col-lg-6">
	{% for l_item in product.metafields.properties %}
	{% assign key = l_item.first | split: ':' %}
	{% assign key_type = key.last %}
	{% assign key_title = key.first %}
	{% assign value = l_item.last %}
	<div class="form-group">
		<label>{{ key_title }}</label>
		{% if key_type == 'select' %}
		{% assign value_array = value | split: ',' %}
		<select class="form-control" name="properties[{{ key_title }}]">
			{% for v in value_array %}
			<option value="{{ v }}">{{ v }}</option>
			{% endfor %}
		</select>
		{% elsif key_type == 'text' %}
		<input type="text" class="form-control" name="properties[{{ key_title }}]" placeholder="{{ value }}" />
		{% elsif key_type == 'checkbox' %}
		<p><input type="checkbox" name="properties[{{ key_title }}]" value="{{ value }}" />&nbsp;{{ value }}</p>
		{% elsif key_type == 'file' %}
		<p><input type="file" id="{{ key_title }}" name="properties[{{ key_title }}]">&nbsp;<small><em>{{ value }}</em></small></p>
		{% endif %}
	</div>
	{% endfor %}
	</div>
	{% endif %}
</div>

<div class="row">
	<div class="col-xs-4">
		<input class="form-control input-lg" min="1" type="number" id="quantity" placeholder="Quantity" name="quantity" value="1" />
	</div>
	<div class="col-xs-8">
		<input type="submit" name="add" value="{% include '__localize' with 'Add to cart' %}" id="purchase" class="btn btn-primary btn-lg btn-block" />
	</div>
</div>

{% if settings.secondary-call-to-action-url != null %}
<p><br><em>{% include '__localize' with 'Not quite what you are after?' %}</em><br><a href="{{ settings.secondary-call-to-action-url }}?title={{ product.title | replace: ' ', '%20' }}&amp;handle={{ product.handle }}"><strong>{% include '__localize' with 'Contact us for variations' %}</strong></a></p>
{% endif %}
<hr>

<script>
  jQuery(function() {
    // option selectors extended with boostrap markup and link options
    new Shopify.BootstrapifyOptionSelectors("{% include '__advanced-layout-id' with 'product-select' %}", { product: {{ product | json }}, onVariantSelected: selectCallback, linkOptions: true });
  });
</script>