{% if t_object != blank %}
{% assign product = t_object %}
{% endif %}
{% capture vars %}
{% assign selected_or_first_variant = product.selected_or_first_available_variant %}
{% if product.featured_image == blank %}
{% include 'image-placeholder' %}
{% else %}
{% capture image %}
{% assign featured_image = selected_or_first_variant.featured_image | default: product.featured_image %}
{% unless settings.container-width-large-devices contains 'px' %}{% assign product_img_size = '1024x1024' %}{% else %}{% assign product_img_size = 'grande' %}{% endunless %}
<img src="{{ featured_image.src | product_img_url: product_img_size }}" alt="{{ featured_image.alt }}" itemprop="image">
{% endcapture %}
{% endif %}
{% endcapture %}
{% include '__poa-tag' with product %}

<section id="{% include '__advanced-layout-id' with 'product-wrap' %}" class="product-wrap section-wrap">
	{% include '__containers-open' %}
	<div class="visible-xs">
		<h1 class="page-header" itemprop="name">{{ product.title }}</h1>
	</div>

		<div class="row" itemscope itemtype="http://data-vocabulary.org/Product">
	
			<!-- images col -->
			<div class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-push-6{% endif %}">
				<div class="row product-images">
					<div class="col-xs-12 col-sm-12">
						<div class="thumbnail product-main-image">
							{{ image }}
						</div>
					</div>
					{% if product.images.size > 1 %}
					{% for image in product.images %}
					<div class="col-xs-4">
						<div class="thumbnail">
							<div class="thumbnail-image product-main-thumb">
								<a href="#" data-main-image="{{ image.src | product_img_url: product_img_size }}">
									{{ image.src | product_img_url: 'medium' | img_tag: image.alt }}
								</a>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
				</div>
			</div>
	
			<!-- details col -->
			<div id="product-details" class="col-sm-6 {% if settings.product-page-image-placement == 'right' %}col-sm-pull-6{% endif %}">
				<h1 class="hidden-xs" itemprop="name">{{ product.title }}</h1>
				{% include 'product-badges' %}
				{% if has_prices %}
				{% if price_is_poa %}
				<div class="product-price-poa">
				  <span>{% include '__localize' with 'POA' %}</span>
				</div>
				{% else %}
				<div class="product-price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
				  <span class="price-field">{% include 'product-price' with selected_or_first_variant.price %}</span>{% if settings.append-plus-taxes-to-price %}<small class="text-muted"> {% include '__localize' with 'plus taxes' %}</small>{% endif %}
					<del class="compare-at-price-field text-muted"></del>
          {% include 'product-labels' with product %}
					<meta itemprop="currency" content="{{ shop.currency }}" />
					<meta itemprop="identifier" content="sku:{{ product.variants.first.sku }}" />
				</div>
				{% endif %}
				{% endif %}
				{% include 'shappify-sales-clock' %}
				{% include 'product-availability' %}
				{% if has_cart %}{% include 'product-add-to-cart-form' %}{% endif %}
				
				{% if product.metafields.custom_links.size > 0 %}
				<ul class="custom-links">
					{% for l in product.metafields.custom_links %}
						<li><a href="{{ l.last }}" class="btn btn-default" title="{{ l.first }}" target="_blank">{{ l.first }}</a></li>
					{% endfor %}
				</ul>
				{% endif %}
				{% if product.metafields.custom_images.size > 0 %}
				<ul class="custom-images">
				{% for l in product.metafields.custom_images %}
					<li><img src="{{ l.last }}" class="custom-image" alt="{{ l.first }}"></li>
				{% endfor %}
				</ul>
				{% endif %}
				
				{% include 'product-description' %}
				
				{% include 'product-specs' %}
      		  
		  	{% unless t_reviews == true %}
				<div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
				{% endunless %}
			</div>
		</div>
	{% include '__containers-close' %}
</section>