{% if settings.show-shipping-estimator %}
<div class="shipping-calculator-wrapper">
  <h3>{% include '__localize' with 'Estimate shipping' %}</h3>
  
  <div id="shipping-calculator">
    <div class="form-group">
      <select id="address_country" class="form-control input-sm" name="address[country]" data-default="{% if shop.customer_accounts_enabled and customer %}{{ customer.default_address.country }}{% elsif settings.shipping_calculator_default_country != '' %}{{ settings.shipping_calculator_default_country }}{% endif %}">{{ country_option_tags }}</select>
    </div>
      
    <div id="address_province_container" class="form-group" style="display:none;">
      <select id="address_province" class="form-control address_form input-sm" name="address[province]" data-default="{% if shop.customer_accounts_enabled and customer and customer.default_address.province != '' %}{{ customer.default_address.province }}{% endif %}"></select>
    </div>
      
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <input type="text" id="address_zip" class="form-control input-sm" name="address[zip]"{% if shop.customer_accounts_enabled and customer %} value="{{ customer.default_address.zip }}"{% endif %} placeholder="{% include '__localize' with 'Postal Code' %}" />
        </div>
        <div class="col-xs-6">
          <input type="button" class="get-rates btn btn-sm btn-block btn-default" value="Calculate" />
        </div>
      </div>
    </div>
      
    <div class="text-right">
    </div>
  </div>
  
  <div id="wrapper-response" class="text-right"></div>
</div>

<script id="shipping-calculator-response-template" type="text/x-jquery-tmpl">
  {% raw %}
  <h4 id="shipping-rates-feedback" class="{{if success}}success{{else}}error{{/if}}">
    {{if success}}
    {{if rates.length > 1}}
    <small>Shipping from</small> {{html Shopify.Cart.ShippingCalculator.formatRate(rates[0].price)}}
    {{else}}
    We do not ship to this destination.
    {{/if}}
    {{else}}
    ${errorFeedback}
    {{/if}}
  </h4>
  {% endraw %} 
</script>

{{ "http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" | script_tag }}
{{ "/services/javascripts/countries.js" | script_tag }}
{{ "shopify_common.js" | shopify_asset_url | script_tag }}
{{ "jquery.cart.min.js" | asset_url | script_tag }} 

<script>
Shopify.Cart.ShippingCalculator.show( {
  submitButton: 'Calculate', 
  submitButtonDisabled: 'Calculating…'{% if shop.customer_accounts_enabled and customer %},
  customerIsLoggedIn: true{% endif %},
  moneyFormat: {{ shop.money_with_currency_format | json }}
} );
</script>
{% endif %}