{% include '__show-link' with sidebar-nav-link %}

{% if show_link == true %}
<li class="submenu-item">
  {% if child_linklist.links.size == 0 %}
  {% capture link %}<a href="{{ sidebar-nav-link.url }}" title="View {{ sidebar-nav-link.title | strip_html }}">{{ sidebar-nav-link.title }}</a>{% endcapture %}
  <div class="submenu-link-title{% if sidebar-nav-link.active %} active{% endif %}">
    {{ link }}
  </div>
  {% else %}
  {% if s_linklist == blank %}{% assign child_id = 'child_' | prepend: 'mm_' %}{% else %}{% assign child_id = 'child_' %}{% endif %}
  <div class="submenu-column">
    <div class="submenu-link-title{% if sidebar-nav-link.active %} active{% endif %}">
      <a href="{{ sidebar-nav-link.url }}" title="View {{ sidebar-nav-link.title | strip_html }}">{{ sidebar-nav-link.title }}</a>{% unless sidebar-nav-link.url == "#" or s_linklist == blank %}&nbsp;<small class="text-muted"><a data-toggle="collapse" href="#{{ child_id }}{{ sidebar-nav-link.handle }}"><i class="fa fa-plus-circle"></i></a></small>{% endunless %}
    </div>
    <div class="collapse{% if collapse_in %} in{% endif %}" id="{{ child_id }}{{ sidebar-nav-link.handle }}">
      {% include 'sidebar-nav' with child_linklist %}
    </div>
  </div>
  {% endif %}
</li>
{% assign show_link = false %}
{% endif %}