{% assign is_sidebar = true %}

<aside class="sidebar {% include '__sidebar-span' %}">
  <div class="sidebar-content">
    {% if settings.logo-placement == 'sidebar' %}<div class="hidden-xs">{% include 'brand' %}</div>{% endif %}
    
    {% if settings.tag-placement == 'sidebar' %}
    {% include 'tag-buttons' %}
    {% endif %}
    
    {% if template == 'blog' or template == 'article' %}
      <h4>{% include '__localize' with 'Recent articles' %}</h4>
      {% for a in blog.articles limit:settings.blog-list-limit %}
        {% include 'article-excerpt' %}
      {% endfor %}
    {% endif %}
	
	{% unless linklists[current_list] == empty %}
	{% assign main_linklist = linklists[current_list] %}
	<h4>{{ main_linklist.title }}</h4>
	{% include '_navbar-main' %}
	{% endunless %}
    
    {% unless linklists[settings.sidebar-linklist] == empty %}
	{% assign main_linklist = linklists[settings.sidebar-linklist] %}
	<h4>{{ main_linklist.title }}</h4>
	{% include '_navbar-main' %}
    {% endunless %}
  
    {% unless blogs[settings.sidebar-blog] == empty %}
      <h4>{{ blogs[settings.sidebar-blog].title }}</h4>
      {% for a in blogs[settings.sidebar-blog].articles limit:settings.blog-list-limit %}
      <h5>{{ a.title | link_to: a.url, a.title }} <small class="text-muted help-block">{{ a.published_at | date: settings.short-date-format }}</small></h5>
      {% endfor %}
    {% endunless %}
    
    {% if settings.newsletter-signup-placement == 'sidebar' %}
      {% include 'newsletter-signup-form' %}
    {% endif %}
            
    {% if settings.social-links-placement == 'sidebar' %}
      <hr>
      {% include 'social-links' with 'lg' %}
    {% endif %}
  </div>
</aside>