<aside class="span3 hidden-phone">
{% if settings.logo-placement == 'sidebar' %}<header class="page-header">
  <h1><a href="/">{{ shop.name }}</a></h1>
</header>{% endif %}
{% unless linklists[settings.sidebar-linklist] == empty %}
{% capture tip %}Showing <em>{{ linklists[settings.sidebar-linklist].title }}</em> link list (<a href="/admin/linklists/{{ linklists[settings.sidebar-linklist].id }}">edit link list</a>).{% endcapture %}{% assign tip_title = "Sidebar link list" %}{% include 'tip' %}
<h3>{{ linklists[settings.sidebar-linklist].title }}</h3>

<ul class="nav nav-pills nav-stacked">
  {% for l in linklists[settings.sidebar-linklist].links %}
  <li{% if l.active %} class="active"{% endif %}>{{ l.title | link_to: l.url, l.title }}</li>
  {% endfor %}
</ul>
{% endunless %}

{% unless blogs[settings.sidebar-blog] == empty %}
{% capture tip %}Showing <em>{{ blogs[settings.sidebar-blog].title }}</em> blog articles (<a href="/admin/blogs/{{ blogs[settings.sidebar-blog].id }}">edit blog</a>).{% endcapture %}{% assign tip_title = "Sidebar blog" %}{% include 'tip' %}
<h3>{{ blogs[settings.sidebar-blog].title }}</h3>

<ul class="nav nav-pills nav-stacked">
  {% for a in blogs[settings.sidebar-blog].articles %}
  <li{% if a.url == article.url %} class="active"{% endif %}>{{ a.title | link_to: a.url, a.title }}</li>
  {% endfor %}
</ul>
{% endunless %}
</aside>