{% include '__show-link' with sidebar-nav-link %}

{% if show_link == true %}
<li class="submenu-item">
  {% if child_linklist.links.size == 0 %}
  {% capture link %}<a href="{{ sidebar-nav-link.url }}" title="View {{ sidebar-nav-link.title }}">{{ sidebar-nav-link.title }}</a>{% endcapture %}
  <div class="submenu-link-title{% if sidebar-nav-link.active %} active{% endif %}">
    {{ link }}
  </div>
  {% else %}
  <div class="submenu-column">
    <div class="submenu-link-title{% if sidebar-nav-link.active %} active{% endif %}">
      <a data-toggle="collapse" href="#child_{{ sidebar-nav-link.handle }}" title="View {{ sidebar-nav-link.title }}">{{ sidebar-nav-link.title }}</a>{% unless sidebar-nav-link.url == "#" %}&nbsp;<small class="text-muted"><a href="{{ sidebar-nav-link.url }}">{% include '__localize' with 'View&nbsp;all' %}</a></small>{% endunless %}
    </div>
    <div class="collapse{% if collapse_in %} in{% endif %}" id="child_{{ sidebar-nav-link.handle }}">
      {% include 'sidebar-nav' with child_linklist %}
    </div>
  </div>
  {% endif %}
</li>
{% assign show_link = false %}
{% assign collapse_in = false %}
{% endif %}