<div class="row">
{% include 'sidebar' %}

<div class="span9">
<div class="article">
<div class="page-header">
   <h1>{{ article.title }}</h1>
</div>
  <p><small>Posted {{ article.published_at | date: "%B %d, %Y" }} by {{ article.author }}<br>{% if article.tags != blank %}<i class="icon-tag"></i>
{% for tag in article.tags %}
<a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="Articles tagged with {{ tag | escape }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
{% endfor %}
{% endif %}</small></p>
    <hr>
  <div class="article-body textile">
    {{ article.content }}
  </div>  
 <br>
     <ul class="pager">           
      {% if blog.next_article %}
         {% capture next_url %}{{ blog.next_article }}#content{% endcapture %}
      <li class="previous">
        {{ '&larr; Next Post' | link_to: next_url }}
      </li>
      {% endif %}
      {% if blog.previous_article %}
  {% capture prev_url %}{{ blog.previous_article }}#content{% endcapture %}
      <li class="next">
        {{ 'Previous Post &rarr;' | link_to: prev_url }}
      </li>
      {% endif %}
    </ul>
</div>

{% if blog.comments_enabled? %}
<div id="comments">
{% paginate article.comments by 100 %}
      {% if article.comments.size > 0 %}
      <hr>
      <h3 class="comment-title">Comments</h3>
      <br>
      {% for comment in article.comments reversed %}
         {% include 'comments' %}
      {% endfor %}      
        {% if comment and comment.created_at %}
           {% include 'comments' %}
        {% endif %}
      

      {% include 'pagination' %}

      {% endif %}
      {% endpaginate %}
     <hr>
  <!-- Comment Form -->
  {% form article %}
  <h3>Leave a comment</h3>
  <hr>
  {% if form.posted_successfully? %}
        {% if blog.moderated? %}
        <div class="alert alert-success">Successfully posted your comment. It will have to be approved by the blog owner first before showing up.</div>
        {% else %}
        <div class="alert alert-success">Successfully posted your comment.</div>
        {% endif %}
         <hr>
    {% endif %}
    {% if form.errors %}
      <div class="alert alert-error">Not all the fields have been filled out correctly!</div>
   <hr>
   {% endif %}
      <fieldset>

    	 <div class="control-group {% if form.errors contains 'author' %}error{% endif %}">
          <label for="comment_author" class="control-label">Your name</label>
          <div class="controls">
            <input type="text" value="{{form.author}}" name="comment[author]" id="comment_author" class="input-xlarge">
        </div>
        </div>
			 <div class="control-group {% if form.errors contains 'email' %}error{% endif %}">
	          <label for="comment_email" class="control-label">Your email</label>
	          <div class="controls">
	            <input type="text" value="{{form.email}}" id="comment_email" name="comment[email]" class="input-xlarge">
	          </div>
	        </div>
			 <div class="control-group {% if form.errors contains 'body' %}error{% endif %}">
	          <label for="comment_body" class="control-label">Your comment</label>
	          <div class="controls">
	            <textarea rows="3" id="comment_body" name="comment[body]" class="input-xlarge">{{form.body}}</textarea>
	          </div>
	        </div>

    
    {% if blog.moderated? %}
    <div class="alert alert-info">Comments have to be approved before showing up.</div>
    {% endif %}    
    <div class="form-actions">
                   <input type="submit" class="btn btn-primary" value="Post comment" />

          </div>

    </fieldset>
 {% endform %}
</div>
{% endif %}
</div>
</div>
