<div class="row">
{% include 'sidebar' %}

<div class="span9">
 
<form class="well form-search" action="/search" method="get">
    <input type="text" class="input-large search-query" name="q" value="{{search.terms  | escape}}" id="result-q">
    <button type="submit" class="btn">Search</button>
</form>
  <br>
  {% if search.performed %}
    
    {% paginate search.results by 10 %}  
  
    {% if search.results == empty %}  
      <p>Your search for <strong>"{{search.terms | escape}}"</strong> did not yield any results.</p>              
    {% else %}  

       
        {% for item in search.results %}      
       <div class="row">
        <div class="span9">
          {% if item.featured_image %}
           <div class="row">
                <div class="span2"><a href="{{item.url}}" title="">{{ item.featured_image | product_img_url: 'compact' | img_tag }}</a></div>
                <div class="span7"><h3>{{ item.title | link_to: item.url }}</h3>{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</div>
          </div>
          {% else %}
                <h3>{{ item.title | link_to: item.url }}</h3>
               {{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}
          {% endif %}
          <hr>
            </div>
        </div>
        {% endfor %}
            

    {% endif %}
    
    
    {% include 'pagination' %}
    
    {% endpaginate %}    
    
  {% endif %}
  
  
  

</div>
</div>
